body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 12px;
  border: 2px solid rgb(195, 0, 255);
}
